<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xl.learnapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainNavActivity"
            android:label="@string/title_activity_main_nav"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Service -->
        <service android:name=".MyService" />

        <!-- <uses-library android:name="com.google.android.things" /> -->


        <!-- Add Boardcast Receiver -->
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>

                <!-- <action android:name="android.intent.action.BOOT_COMPLETED"> -->
                <!-- </action> -->
                <action android:name="com.xl.learnapp.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <!-- Add Provider Receiver -->
        <provider android:name="StudentsProvider"
            android:authorities="com.xl.learnapp.StudentsProvider" >
        </provider>

        <activity
            android:name=".ContentProviderActivity"
            android:label="@string/title_activity_content_provider"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>